@import url("https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Italianno&display=swap");

body {
  font-family: "Chiron GoRound TC", "Noto Serif TC", serif;
  -webkit-font-smoothing: antialiased; /* 讓字體在 Mac 上更平滑 */
  background-color: #f3efeb;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.card-words {
  max-width: 76%;
}

@media (min-width: 768px) {
  body {
    background-color: #2f321b;
  }
  .outline-width {
    width: 40%;
    margin: auto;
    background-color: #f3efeb;
    box-shadow: 0px 0px 80px black;
  }

  .letter-word {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
}
